{
  "swagger": "2.0.0",
  "info": {
    "title": "Payment UNRAM API",
    "description": "Spesifikasi teknis dari payment Universitas Mataram kepada Bank untuk keperluan host-to-host.\nKoneksi yang masuk ke server UNRAM perlu dilakukan whitelist IP dan Port terlebih dahulu.",
    "contact": {
      "name": "Payment Gateway",
      "url": "http://e-pay.unram.ac.id",
      "email": "pustik@unram.ac.id"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "host": "e-pay.unram.ac.id",
  "basePath": "/index.php/b",
  "schemes": [
    "http"
  ],
  "security": [
    {
      "auth": []
    }
  ],
  "paths": {
    "/bni": {
      "post": {
        "tags": [
          "Bank BNI"
        ],
        "summary": "Flagging.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "description": "data pembayaran dalam bentuk terenkripsi.",
            "type": "string",
            "required": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "/btn": {
      "post": {
        "tags": [
          "Bank BTN"
        ],
        "summary": "Flagging.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "va",
            "in": "query",
            "description": "data pembayaran dalam bentuk terenkripsi.",
            "type": "string",
            "required": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "/ntb": {
      "post": {
        "tags": [
          "Bank NTB"
        ],
        "summary": "Flagging.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "virtual_account",
            "in": "query",
            "description": "data pembayaran dalam bentuk terenkripsi.",
            "type": "string",
            "required": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "/mandiri/inquiry": {
      "get": {
        "tags": [
          "Bank Mandiri"
        ],
        "summary": "Inquiry detail VA.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "va",
            "in": "query",
            "description": "nomor Virtual Account",
            "type": "integer",
            "required": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "/mandiri/payment": {
      "put": {
        "tags": [
          "Bank Mandiri"
        ],
        "summary": "Flagging pembayaran VA.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "va",
            "in": "query",
            "description": "nomor Virtual Account",
            "type": "integer",
            "required": "true"
          },
          {
            "name": "trxid",
            "in": "query",
            "description": "nomor unik transaksi",
            "type": "integer",
            "required": "true"
          },
          {
            "name": "total",
            "in": "query",
            "description": "nominal pembayaran",
            "type": "integer",
            "required": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "/bukopin/inquiry": {
      "get": {
        "tags": [
          "Bank Bukopin"
        ],
        "summary": "Inquiry detail VA.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "va",
            "in": "query",
            "description": "nomor Virtual Account",
            "type": "integer",
            "required": "true"
          }
        ],
        "responses": {
          "00": {
            "description": "Sukses",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "00"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "nama": {
                  "type": "string",
                  "example": "Ahmad Zafrullah"
                },
                "prodi": {
                  "type": "string",
                  "example": "Teknik Informatika (S1)"
                },
                "periode": {
                  "type": "integer",
                  "example": "20191"
                },
                "total": {
                  "type": "integer",
                  "example": "3050000"
                },
                "detail": {
                  "type": "object",
                  "properties": {
                    "nama_biaya": {
                      "type": "string",
                      "example": "SPP 2019/2020 Ganjil"
                    },
                    "nominal": {
                      "type": "integer",
                      "example": "3050000"
                    }
                  }
                }
              }
            }
          },
          "01": {
            "description": "Nomor VA sudah terbayar",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "01"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "message": {
                  "type": "string",
                  "example": "Nomor VA sudah terbayar"
                }
              }
            }
          },
          "02": {
            "description": "Nomor VA sudah berakhir",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "02"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "message": {
                  "type": "string",
                  "example": "Nomor VA sudah berakhir"
                }
              }
            }
          },
          "03": {
            "description": "Nomor VA tidak ditemukan",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "03"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "message": {
                  "type": "string",
                  "example": "Nomor VA tidak ditemukan"
                }
              }
            }
          },
          "99": {
            "description": "Error lainnya",
            "schema": {
              "type": "object",
              "properties": {
                "va": {
                  "type": "integer",
                  "example": "xxxxxxx008004"
                },
                "status": {
                  "type": "integer",
                  "example": "99"
                },
                "message": {
                  "type": "string",
                  "example": "Internal error"
                }
              }
            }
          }
        }
      }
    },
    "/bukopin/payment": {
      "put": {
        "tags": [
          "Bank Bukopin"
        ],
        "summary": "Flagging pembayaran VA.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "va",
            "in": "query",
            "description": "nomor Virtual Account",
            "type": "integer",
            "required": "true"
          },
          {
            "name": "trxid",
            "in": "query",
            "description": "nomor unik transaksi",
            "type": "integer",
            "required": "true"
          },
          {
            "name": "total",
            "in": "query",
            "description": "nominal pembayaran",
            "type": "integer",
            "required": "true"
          }
        ],
        "responses": {
          "00": {
            "description": "Sukses",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "00"
                },
                "va": {
                  "type": "integer",
                  "example": "xxxxxxx008004"
                },
                "trxid": {
                  "type": "string",
                  "example": "xxxxxxxyyyyyyyy"
                },
                "reference": {
                  "type": "string",
                  "example": "xxxxxxxyyyyyyyy"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "nama": {
                  "type": "string",
                  "example": "Ahmad Zafrullah"
                }
              }
            }
          },
          "01": {
            "description": "Nomor VA sudah terbayar",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "01"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "message": {
                  "type": "string",
                  "example": "Nomor VA sudah terbayar"
                }
              }
            }
          },
          "02": {
            "description": "Nomor VA sudah berakhir",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "02"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "message": {
                  "type": "string",
                  "example": "Nomor VA sudah berakhir"
                }
              }
            }
          },
          "03": {
            "description": "Nomor VA tidak ditemukan",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "03"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "message": {
                  "type": "string",
                  "example": "Nomor VA tidak ditemukan"
                }
              }
            }
          },
          "04": {
            "description": "Jumlah pemayaran tidak sesuai",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "04"
                },
                "id": {
                  "type": "integer",
                  "example": "F1D008004"
                },
                "message": {
                  "type": "string",
                  "example": "Jumlah pembayaran tidak sesuai"
                }
              }
            }
          },
          "99": {
            "description": "Error lainnya",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "example": "99"
                },
                "message": {
                  "type": "string",
                  "example": "Internal error"
                }
              }
            }
          }
        }
      }
    }
  }
}